// borrowed from Bootstrap
@mixin clearfix {
  &:before, 
  &:after {
    content:"";
    display: table ;
      clear:both;
  }
}

@mixin column-gutter {
  padding: 0 1rem;
}

@mixin grid-cell($width, $screenSize: 0) {
  float: left;
  box-sizing: border-box;
  @if $screenSize > 0 {
    @media (min-width: $screenSize) {
      width: width-calc($width);
      flex: $width;
    }
  }
}

@mixin grid-offset($offset, $screenSize, $right: false) {
  @if $screenSize > 0 {
    @media (min-width: $screenSize) {
      @if $right {
        margin-right: width-calc($offset);
      }
      @else {
        margin-left: width-calc($offset);
      }
    }
  }
  @else {
    margin-left: 0;
  }
}

@mixin responsive-mixin($min-width: 0, $default-display: none, $is-block: false) {
  display: $default-display;
  @media (min-width: $min-width) {
    @if $default-display == 'none' {
      @if $is-block {
        display: block;
      }
      @else {
        display: inline-block;
      }
    }
    @else {
      display: none;
    }
  }
}
