.valign-wrapper {
  display: flex;
  align-items: center;
}

.valign {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.clearfix {
  @include clearfix;
}

.flex-row {
  @media (min-width: $tiny) {
    display: flex;
  }
}

.row, 
.flex-row {
  .columns,
  .column {
    box-sizing: border-box;
    width: 100%;
    @for $i from 1 through 12 {
      &.#{nth($num-list, $i)} {
        @include grid-cell($i, 0);
        width: width-calc($i);
      }
    }
    @for $j from 1 through 7 {
      @for $i from 1 through 12 {
        &.#{nth($num-list, $i)}-#{nth($sizeName-list,$j)} {
          @include grid-cell($i, nth($size-list, $j));
        }
        &.offset-#{nth($num-list, $i)}-#{nth($sizeName-list,$j)} {
          @include grid-offset($i, nth($size-list, $j));
        }
        &.offset-#{nth($num-list, $i)}-#{nth($sizeName-list,$j)}-right {
          @include grid-offset($i, nth($size-list, $j), true);
        }
      }
      &.offset-none-#{nth($sizeName-list,$j)} {
        @include grid-offset(0, nth($size-list, $j));
      }
    }
    &.gutter {
      @include column-gutter;
    }
  }
  &.gutters-all {
    .column, .columns {
      @include column-gutter;
    }
  }
  @include clearfix;
}

@for $j from 1 through 7 {
  .hide-#{nth($sizeName-list, $j)} {
    @include responsive-mixin(nth($size-list, $j), inline-block);
  }
  .show-#{nth($sizeName-list, $j)} {
    @include responsive-mixin(nth($size-list, $j));
  }
  .hide-#{nth($sizeName-list, $j)}-block {
    @include responsive-mixin(nth($size-list, $j), block, true);
  }
  .show-#{nth($sizeName-list, $j)}-block {
    @include responsive-mixin(nth($size-list, $j), none, true);
  }
  .hide-#{nth($sizeName-list, $j)}-inline {
    @include responsive-mixin(nth($size-list, $j), inline, true);
  }
  .show-#{nth($sizeName-list, $j)}-inline {
    @include responsive-mixin(nth($size-list, $j), none, true);
  }
  .hide-#{nth($sizeName-list, $j)}-only {
    @include responsive-mixin(nth($size-list, $j), inline-block);
    @if $j + 1 != 8 {
      @media (min-width: nth($size-list, $j + 1)) {
        display: inline-block;
      }
    }
  }
  .show-#{nth($sizeName-list, $j)}-only {
    @include responsive-mixin(nth($size-list, $j));
    @if $j + 1 != 8 {
      @media (min-width: nth($size-list, $j + 1)) {
        display: none;
      }
    }
  }
  .hide-#{nth($sizeName-list, $j)}-only-block {
    @include responsive-mixin(nth($size-list, $j), block, true);
    @if $j + 1 != 8 {
      @media (min-width: nth($size-list, $j + 1)) {
        display: block;
      }
    }
  }
  .show-#{nth($sizeName-list, $j)}-only-block {
    @include responsive-mixin(nth($size-list, $j), none, true);
    @if $j + 1 != 8 {
      @media (min-width: nth($size-list, $j + 1)) {
        display: none;
      }
    }
  }
  .hide-#{nth($sizeName-list, $j)}-only-inline {
    @include responsive-mixin(nth($size-list, $j), inline, true);
    @if $j + 1 != 8 {
      @media (min-width: nth($size-list, $j + 1)) {
        display: inline;
      }
    }
  }
  .show-#{nth($sizeName-list, $j)}-only-inline {
    @include responsive-mixin(nth($size-list, $j), none, true);
    @if $j + 1 != 8 {
      @media (min-width: nth($size-list, $j + 1)) {
        display: none;
      }
    }
  }
}
