$micro: 320px;
$tiny: 425px;
$small: 768px;
$medium: 1024px;
$large: 1280px;
$huge: 1440px;
$gigantic: 1920px;

$num-list:  "one", "two", "three", "four", "five", "six", 
            "seven", "eight", "nine", "ten", "eleven", "twelve";
$sizeName-list: "micro", "tiny", "small", "medium", "large", "huge", "giant";
$size-list: $micro, $tiny, $small, $medium, $large, $huge, $gigantic;
